src/wsdl/localhost_8080/testjaxws/Calculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.testjaxws.tramasoli.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.testjaxws.tramasoli.com/" name="Calculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.testjaxws.tramasoli.com/" schemaLocation="http://localhost:8080/testjaxws/Calculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="pow">
<part name="parameters" element="tns:pow"/>
</message>
<message name="powResponse">
<part name="parameters" element="tns:powResponse"/>
</message>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<portType name="Math">
<operation name="division">
<input wsam:Action="http://ws.testjaxws.tramasoli.com/Math/divisionRequest" message="tns:division"/>
<output wsam:Action="http://ws.testjaxws.tramasoli.com/Math/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://ws.testjaxws.tramasoli.com/Math/multRequest" message="tns:mult"/>
<output wsam:Action="http://ws.testjaxws.tramasoli.com/Math/multResponse" message="tns:multResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://ws.testjaxws.tramasoli.com/Math/subRequest" message="tns:sub"/>
<output wsam:Action="http://ws.testjaxws.tramasoli.com/Math/subResponse" message="tns:subResponse"/>
</operation>
<operation name="pow">
<input wsam:Action="http://ws.testjaxws.tramasoli.com/Math/powRequest" message="tns:pow"/>
<output wsam:Action="http://ws.testjaxws.tramasoli.com/Math/powResponse" message="tns:powResponse"/>
</operation>
<operation name="sum">
<input wsam:Action="http://ws.testjaxws.tramasoli.com/Math/sumRequest" message="tns:sum"/>
<output wsam:Action="http://ws.testjaxws.tramasoli.com/Math/sumResponse" message="tns:sumResponse"/>
</operation>
</portType>
<binding name="MathPortBinding" type="tns:Math">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculadora">
<port name="MathPort" binding="tns:MathPortBinding">
<soap:address location="http://localhost:8080/testjaxws/Calculadora"/>
</port>
</service>
</definitions>